/*
///////////////////////////////////////
////////////// Material Symbols
//////////////////////////////////////
*/

/* EVERY SINGLE ICON USED IS BROUGHT TO YOU BY GOOGLE'S MATERIAL SYMBOLS ICONS - PLEASE SEE THE LICENSE HERE - https://developers.google.com/fonts/faq */


/* ----------------------------------------------------- 
------------------------------------------
------------- TITLE BAR ICONS----------------------------------
------------------------------------------
-------------------------------------------------------
*/

/* Phone */
[d="M2 7.4A5.4 5.4 0 0 1 7.4 2c.36 0 .7.22.83.55l1.93 4.64a1 1 0 0 1-.43 1.25L7 10a8.52 8.52 0 0 0 7 7l1.12-2.24a1 1 0 0 1 1.19-.51l5.06 1.56c.38.11.63.46.63.85C22 19.6 19.6 22 16.66 22h-.37C8.39 22 2 15.6 2 7.71V7.4ZM13 3a1 1 0 0 1 1-1 8 8 0 0 1 8 8 1 1 0 1 1-2 0 6 6 0 0 0-6-6 1 1 0 0 1-1-1Z"] {
  d: path("M38.8 23.65Q38.55 17.6 34.35 13.4Q30.15 9.2 24.1 8.95V5.95Q27.7 6.05 30.875 7.475Q34.05 8.9 36.45 11.3Q38.85 13.7 40.275 16.875Q41.7 20.05 41.8 23.65ZM30.35 23.65Q30.1 21.15 28.35 19.425Q26.6 17.7 24.1 17.45V14.45Q27.85 14.7 30.475 17.3Q33.1 19.9 33.35 23.65ZM39.75 42Q33.65 42 27.625 39Q21.6 36 16.8 31.2Q12 26.4 9 20.375Q6 14.35 6 8.25Q6 7.3 6.65 6.65Q7.3 6 8.25 6H15.25Q15.95 6 16.475 6.475Q17 6.95 17.15 7.75L18.5 14.05Q18.6 14.75 18.475 15.325Q18.35 15.9 17.95 16.3L12.95 21.35Q15.75 26 19.225 29.45Q22.7 32.9 27.1 35.3L31.85 30.4Q32.35 29.85 33 29.625Q33.65 29.4 34.3 29.55L40.25 30.85Q41 31 41.5 31.6Q42 32.2 42 33V39.75Q42 40.7 41.35 41.35Q40.7 42 39.75 42ZM11.45 18.6 15.5 14.5Q15.5 14.5 15.5 14.5Q15.5 14.5 15.5 14.5L14.35 9Q14.35 9 14.35 9Q14.35 9 14.35 9H9Q9 9 9 9Q9 9 9 9Q9 10.95 9.6 13.275Q10.2 15.6 11.45 18.6ZM39 39Q39 39 39 39Q39 39 39 39V33.65Q39 33.65 39 33.65Q39 33.65 39 33.65L33.85 32.6Q33.85 32.6 33.85 32.6Q33.85 32.6 33.85 32.6L29.9 36.75Q31.95 37.7 34.35 38.3Q36.75 38.9 39 39ZM29.9 36.75Q29.9 36.75 29.9 36.75Q29.9 36.75 29.9 36.75Q29.9 36.75 29.9 36.75Q29.9 36.75 29.9 36.75Q29.9 36.75 29.9 36.75Q29.9 36.75 29.9 36.75Q29.9 36.75 29.9 36.75Q29.9 36.75 29.9 36.75ZM11.45 18.6Q11.45 18.6 11.45 18.6Q11.45 18.6 11.45 18.6Q11.45 18.6 11.45 18.6Q11.45 18.6 11.45 18.6Q11.45 18.6 11.45 18.6Q11.45 18.6 11.45 18.6Q11.45 18.6 11.45 18.6Q11.45 18.6 11.45 18.6Z");
  transform: scale(.48, .48);
} 
[d="M13 7a1 1 0 0 1 1-1 4 4 0 0 1 4 4 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 0 1-1-1Z"] {
  display: none;
}

/* Camera Icon */
[d="M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h11a3 3 0 0 0 3-3v-2.12a1 1 0 0 0 .55.9l3 1.5a1 1 0 0 0 1.45-.9V7.62a1 1 0 0 0-1.45-.9l-3 1.5a1 1 0 0 0-.55.9V7a3 3 0 0 0-3-3H4Z"] {
  d: path("M7 40Q5.8 40 4.9 39.1Q4 38.2 4 37V11Q4 9.8 4.9 8.9Q5.8 8 7 8H33Q34.2 8 35.1 8.9Q36 9.8 36 11V21.75L44 13.75V34.25L36 26.25V37Q36 38.2 35.1 39.1Q34.2 40 33 40ZM7 37H33Q33 37 33 37Q33 37 33 37V11Q33 11 33 11Q33 11 33 11H7Q7 11 7 11Q7 11 7 11V37Q7 37 7 37Q7 37 7 37ZM7 37Q7 37 7 37Q7 37 7 37V11Q7 11 7 11Q7 11 7 11Q7 11 7 11Q7 11 7 11V37Q7 37 7 37Q7 37 7 37Z");
  transform: scale(.48, .48);
}


/* Pins */
[d="M19.38 11.38a3 3 0 0 0 4.24 0l.03-.03a.5.5 0 0 0 0-.7L13.35.35a.5.5 0 0 0-.7 0l-.03.03a3 3 0 0 0 0 4.24L13 5l-2.92 2.92-3.65-.34a2 2 0 0 0-1.6.58l-.62.63a1 1 0 0 0 0 1.42l9.58 9.58a1 1 0 0 0 1.42 0l.63-.63a2 2 0 0 0 .58-1.6l-.34-3.64L19 11l.38.38ZM9.07 17.07a.5.5 0 0 1-.08.77l-5.15 3.43a.5.5 0 0 1-.63-.06l-.42-.42a.5.5 0 0 1-.06-.63L6.16 15a.5.5 0 0 1 .77-.08l2.14 2.14Z"] {
  d: path("M31.7 25.6 36 29.45V32.45H25.5V44.5L24 46L22.5 44.5V32.45H12V29.45L16 25.6V9H13.5V6H34.2V9H31.7ZM16.05 29.45H31.65L28.7 26.7V9H19V26.7ZM23.85 29.45Z");
  transform: scale(.52);
}

/* Add Friends on DM */
[d="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2.14 3.08c.01.06.06.1.12.1ZM16.62 13.17c-.22.29-.65.37-.92.14-.34-.3-.7-.57-1.09-.82-.52-.33-.7-1.05-.47-1.63.11-.27.2-.57.26-.87.11-.54.55-1 1.1-.92 1.6.2 3.04.92 4.15 1.98.3.27-.25.95-.65.95a3 3 0 0 0-2.38 1.17ZM15.19 15.61c.13.16.02.39-.19.39a3 3 0 0 0-1.52 5.59c.2.12.26.41.02.41h-8a.5.5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5a7.5 7.5 0 0 1 13.19-4.89ZM9.5 12a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM15.5 22Z"] {
  d: path("M6 42V11Q6 9.8 6.9 8.9Q7.8 8 9 8H35Q36.2 8 37.1 8.9Q38 9.8 38 11V22.15Q37.5 22.05 37.025 22.025Q36.55 22 36 22Q35.75 22 35.5 22Q35.25 22 35 22.05V11Q35 11 35 11Q35 11 35 11H9Q9 11 9 11Q9 11 9 11V34.75L10.75 33H24.05Q24 33.25 24 33.475Q24 33.7 24 34Q24 34.55 24.025 35.025Q24.05 35.5 24.15 36H12ZM14 19V16H30V19ZM14 27.5V24.5H24V27.5ZM34.5 41.5V35.5H28.5V32.5H34.5V26.5H37.5V32.5H43.5V35.5H37.5V41.5Z");
  transform: scale(.48, .48);
}
[d="M19 14a1 1 0 0 1 1 1v3h3a1 1 0 0 1 0 2h-3v3a1 1 0 0 1-2 0v-3h-3a1 1 0 1 1 0-2h3v-3a1 1 0 0 1 1-1Z"] {
  d: path(
    "M18 2a16 16 0 1 0 16 16A16 16 0 0 0 18 2m0 30a14 14 0 1 1 14-14a14 14 0 0 1-14 14 "
  );
  transform: scale(.0, .0);
}

/* Show User Profile in DM */
[d="M23 12.38c-.02.38-.45.58-.78.4a6.97 6.97 0 0 0-6.27-.08.54.54 0 0 1-.44 0 8.97 8.97 0 0 0-11.16 3.55c-.1.15-.1.35 0 .5.37.58.8 1.13 1.28 1.61.24.24.64.15.8-.15.19-.38.39-.73.58-1.02.14-.21.43-.1.4.15l-.19 1.96c-.02.19.07.37.23.47A8.96 8.96 0 0 0 12 21a.4.4 0 0 1 .38.27c.1.33.25.65.4.95.18.34-.02.76-.4.77L12 23a11 11 0 1 1 11-10.62ZM15.5 7.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"] {
  d: path(
    "M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"
  );
  transform: scale(1.4, 1.4);
}
[d="M24 19a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"] {
  d: path(
    "M3 18H21V6H3V18ZM1 5C1 4.44772 1.44772 4 2 4H22C22.5523 4 23 4.44772 23 5V19C23 19.5523 22.5523 20 22 20H2C1.44772 20 1 19.5523 1 19V5ZM9 10C9 9.44772 8.55228 9 8 9C7.44772 9 7 9.44772 7 10C7 10.5523 7.44772 11 8 11C8.55228 11 9 10.5523 9 10ZM11 10C11 11.6569 9.65685 13 8 13C6.34315 13 5 11.6569 5 10C5 8.34315 6.34315 7 8 7C9.65685 7 11 8.34315 11 10ZM8.0018 16C7.03503 16 6.1614 16.3907 5.52693 17.0251L4.11272 15.6109C5.10693 14.6167 6.4833 14 8.0018 14C9.52031 14 10.8967 14.6167 11.8909 15.6109L10.4767 17.0251C9.84221 16.3907 8.96858 16 8.0018 16ZM13 9V15H15V9H13ZM17 9V15H19V9H17Z"
  );
  transform: scale(0, 0);
}

/* Inbox */
[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5ZM4 5.5C4 4.67 4.67 4 5.5 4h13c.83 0 1.5.67 1.5 1.5v6c0 .83-.67 1.5-1.5 1.5h-2.65c-.5 0-.85.5-.85 1a3 3 0 1 1-6 0c0-.5-.35-1-.85-1H5.5A1.5 1.5 0 0 1 4 11.5v-6Z"] {
  d: path("M9 42Q7.8 42 6.9 41.1Q6 40.2 6 39V9Q6 7.8 6.9 6.9Q7.8 6 9 6H39Q40.2 6 41.1 6.9Q42 7.8 42 9V39Q42 40.2 41.1 41.1Q40.2 42 39 42ZM24 33.35Q25.9 33.35 27.625 32.225Q29.35 31.1 30.5 29.2H39V9Q39 9 39 9Q39 9 39 9H9Q9 9 9 9Q9 9 9 9V29.2H17.5Q18.65 31.1 20.375 32.225Q22.1 33.35 24 33.35ZM9 32.2V39Q9 39 9 39Q9 39 9 39H39Q39 39 39 39Q39 39 39 39V32.2H31.9Q30.6 34.1 28.5 35.225Q26.4 36.35 24 36.35Q21.6 36.35 19.5 35.225Q17.4 34.1 16.1 32.2ZM9 39H16.1Q17.4 39 19.5 39Q21.6 39 24 39Q26.4 39 28.5 39Q30.6 39 31.9 39H39Q39 39 39 39Q39 39 39 39H9Q9 39 9 39Q9 39 9 39Z");
  transform: scale(.48, .48);
}

/* Devtool Lady Bug Thing */
[d="M9.54 3.28a3 3 0 0 0-.37.74c-.19.52.28.98.83.98h4c.55 0 1.02-.46.83-.98a2.96 2.96 0 0 0-.37-.74c.23-.16.56-.28.99-.28a1 1 0 1 0 0-2c-1 0-2.01.4-2.68 1.1a3 3 0 0 0-1.54 0A3.76 3.76 0 0 0 8.55 1a1 1 0 0 0 0 2c.43 0 .76.12 1 .28ZM18.01 18.85c-.04.1-.03.22.05.3l1.51 1.5a1 1 0 0 1-1.41 1.42l-1.18-1.18a.26.26 0 0 0-.37 0 6.7 6.7 0 0 1-2.8 1.82c-.42.14-.83-.2-.86-.64l-.42-8.57a.53.53 0 0 0-1.05 0l-.43 8.57c-.03.45-.44.78-.87.64A6.7 6.7 0 0 1 7.4 20.9a.26.26 0 0 0-.37-.01l-1.18 1.18a1 1 0 0 1-1.41-1.41l1.51-1.51c.08-.08.1-.2.05-.3-.47-.94-.78-2-.92-3.12a.25.25 0 0 0-.25-.23H3a1 1 0 1 1 0-2h1.82c.13 0 .24-.1.25-.23.14-1.13.45-2.18.92-3.12a.25.25 0 0 0-.05-.3l-1.51-1.5a1 1 0 1 1 1.41-1.42L7.02 8.1c.1.1.27.1.37 0a6.66 6.66 0 0 1 2.95-1.87c.38-.11.75.14.85.52l.57 2.27c.06.25.42.25.48 0l.57-2.27c.1-.38.47-.63.85-.52 1.1.33 2.11.98 2.95 1.86.1.1.26.11.37.01l1.18-1.18a1 1 0 1 1 1.41 1.41l-1.51 1.51c-.08.08-.1.2-.05.3.47.94.78 2 .92 3.12.01.13.12.23.25.23H21a1 1 0 1 1 0 2h-1.82c-.13 0-.24.1-.25.23a9.68 9.68 0 0 1-.92 3.12Z"] {
  d: path(
    "M6 34a1 1 0 0 1-1-1V3a1 1 0 0 1 2 0v30a1 1 0 0 1-1 1 M30.55 3.82a1 1 0 0 0-1 0a14.9 14.9 0 0 1-6.13 1.16a13.11 13.11 0 0 1-5.18-1.49a12.78 12.78 0 0 0-5-1.45A10.86 10.86 0 0 0 9 2.85v2.23A8.8 8.8 0 0 1 13.25 4a11.22 11.22 0 0 1 4.2 1.28a14.84 14.84 0 0 0 6 1.66A18.75 18.75 0 0 0 29 6.12v12.83a16.16 16.16 0 0 1-5.58.93a13.11 13.11 0 0 1-5.18-1.49a12.78 12.78 0 0 0-5-1.45a10.86 10.86 0 0 0-4.24.85V20a8.8 8.8 0 0 1 4.25-1.08a11.22 11.22 0 0 1 4.2 1.28a14.84 14.84 0 0 0 6 1.66a16.79 16.79 0 0 0 7-1.37a1 1 0 0 0 .55-.89V4.67a1 1 0 0 0-.45-.85"
  );
  transform: scale(1.4, 1.4);

}

/* Threads */
[d="M12 2.81a1 1 0 0 1 0-1.41l.36-.36a1 1 0 0 1 1.41 0l9.2 9.2a1 1 0 0 1 0 1.4l-.7.7a1 1 0 0 1-1.3.13l-9.54-6.72a1 1 0 0 1-.08-1.58l1-1L12 2.8ZM12 21.2a1 1 0 0 1 0 1.41l-.35.35a1 1 0 0 1-1.41 0l-9.2-9.19a1 1 0 0 1 0-1.41l.7-.7a1 1 0 0 1 1.3-.12l9.54 6.72a1 1 0 0 1 .07 1.58l-1 1 .35.36ZM15.66 16.8a1 1 0 0 1-1.38.28l-8.49-5.66A1 1 0 1 1 6.9 9.76l8.49 5.65a1 1 0 0 1 .27 1.39ZM17.1 14.25a1 1 0 1 0 1.11-1.66L9.73 6.93a1 1 0 0 0-1.11 1.66l8.49 5.66Z"] {
  d: path("M32.95 37.3 25.85 30.2 27.95 28.1 32.95 33.05 41.9 24.1 44 26.25ZM4 33.5V30.5H22V33.5ZM32.95 21.3 25.85 14.2 27.95 12.1 32.95 17.05 41.9 8.1 44 10.25ZM4 17.5V14.5H22V17.5Z");
  transform: scale(.48, .48);
}

/* DONT FORGET TO HIT THE NOTIFICATION BELL Icon */
[d="M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20a1 1 0 0 0-1.4-1.4l-20 20ZM3.13 16.13c.11.27.46.28.66.08L15.73 4.27a.47.47 0 0 0-.07-.74 6.97 6.97 0 0 0-1.35-.64.62.62 0 0 1-.38-.43 2 2 0 0 0-3.86 0 .62.62 0 0 1-.38.43A7 7 0 0 0 5 9.5v2.09a.5.5 0 0 1-.13.33l-1.1 1.22A3 3 0 0 0 3 15.15v.28c0 .24.04.48.13.7ZM18.64 9.36c.13-.13.36-.05.36.14v2.09c0 .12.05.24.13.33l1.1 1.22a3 3 0 0 1 .77 2.01v.28c0 .67-.34 1.29-.95 1.56-1.31.6-4 1.51-8.05 1.51-.46 0-.9-.01-1.33-.03a.48.48 0 0 1-.3-.83l8.27-8.28ZM9.18 19.84A.16.16 0 0 0 9 20a3 3 0 1 0 6 0c0-.1-.09-.17-.18-.16a24.84 24.84 0 0 1-5.64 0Z"] {
  d: path("M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z");
  transform: scale(1.5); 
}

/* Members Sidebar */
[d="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2.14 3.08c.01.06.06.1.12.1ZM18.44 17.27c.15.43.54.73 1 .73h1.06c.83 0 1.5-.67 1.5-1.5a7.5 7.5 0 0 0-6.5-7.43c-.55-.08-.99.38-1.1.92-.06.3-.15.6-.26.87-.23.58-.05 1.3.47 1.63a9.53 9.53 0 0 1 3.83 4.78ZM12.5 9a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM2 20.5a7.5 7.5 0 0 1 15 0c0 .83-.67 1.5-1.5 1.5a.2.2 0 0 1-.2-.16c-.2-.96-.56-1.87-.88-2.54-.1-.23-.42-.15-.42.1v2.1a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z"] {
  d: path("M1.9 40V35.3Q1.9 33.55 2.8 32.125Q3.7 30.7 5.3 30Q8.95 28.4 11.875 27.7Q14.8 27 17.9 27Q21 27 23.9 27.7Q26.8 28.4 30.45 30Q32.05 30.7 32.975 32.125Q33.9 33.55 33.9 35.3V40ZM36.9 40V35.3Q36.9 32.15 35.3 30.125Q33.7 28.1 31.1 26.85Q34.55 27.25 37.6 28.025Q40.65 28.8 42.55 29.8Q44.2 30.75 45.15 32.15Q46.1 33.55 46.1 35.3V40ZM17.9 23.95Q14.6 23.95 12.5 21.85Q10.4 19.75 10.4 16.45Q10.4 13.15 12.5 11.05Q14.6 8.95 17.9 8.95Q21.2 8.95 23.3 11.05Q25.4 13.15 25.4 16.45Q25.4 19.75 23.3 21.85Q21.2 23.95 17.9 23.95ZM28.4 23.95Q27.85 23.95 27.175 23.875Q26.5 23.8 25.95 23.6Q27.15 22.35 27.775 20.525Q28.4 18.7 28.4 16.45Q28.4 14.2 27.775 12.475Q27.15 10.75 25.95 9.3Q26.5 9.15 27.175 9.05Q27.85 8.95 28.4 8.95Q31.7 8.95 33.8 11.05Q35.9 13.15 35.9 16.45Q35.9 19.75 33.8 21.85Q31.7 23.95 28.4 23.95ZM4.9 37H30.9V35.3Q30.9 34.5 30.425 33.75Q29.95 33 29.25 32.7Q25.65 31.1 23.2 30.55Q20.75 30 17.9 30Q15.05 30 12.575 30.55Q10.1 31.1 6.5 32.7Q5.8 33 5.35 33.75Q4.9 34.5 4.9 35.3ZM17.9 20.95Q19.85 20.95 21.125 19.675Q22.4 18.4 22.4 16.45Q22.4 14.5 21.125 13.225Q19.85 11.95 17.9 11.95Q15.95 11.95 14.675 13.225Q13.4 14.5 13.4 16.45Q13.4 18.4 14.675 19.675Q15.95 20.95 17.9 20.95ZM17.9 37Q17.9 37 17.9 37Q17.9 37 17.9 37Q17.9 37 17.9 37Q17.9 37 17.9 37Q17.9 37 17.9 37Q17.9 37 17.9 37Q17.9 37 17.9 37Q17.9 37 17.9 37ZM17.9 16.45Q17.9 16.45 17.9 16.45Q17.9 16.45 17.9 16.45Q17.9 16.45 17.9 16.45Q17.9 16.45 17.9 16.45Q17.9 16.45 17.9 16.45Q17.9 16.45 17.9 16.45Q17.9 16.45 17.9 16.45Q17.9 16.45 17.9 16.45Z");
  transform: scale(.48, .48);
}

/* Help Icon */
[d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm-.28-16c-.98 0-1.81.47-2.27 1.14A1 1 0 1 1 7.8 7.01 4.73 4.73 0 0 1 11.72 5c2.5 0 4.65 1.88 4.65 4.38 0 2.1-1.54 3.77-3.52 4.24l.14 1a1 1 0 0 1-1.98.27l-.28-2a1 1 0 0 1 .99-1.14c1.54 0 2.65-1.14 2.65-2.38 0-1.23-1.1-2.37-2.65-2.37ZM13 17.88a1.13 1.13 0 1 1-2.25 0 1.13 1.13 0 0 1 2.25 0Z"] {
  d: path("M24.2 35.65Q25 35.65 25.55 35.1Q26.1 34.55 26.1 33.75Q26.1 32.95 25.55 32.4Q25 31.85 24.2 31.85Q23.4 31.85 22.85 32.4Q22.3 32.95 22.3 33.75Q22.3 34.55 22.85 35.1Q23.4 35.65 24.2 35.65ZM22.45 28.35H25.4Q25.4 27.05 25.725 25.975Q26.05 24.9 27.75 23.5Q29.3 22.2 29.95 20.95Q30.6 19.7 30.6 18.2Q30.6 15.55 28.875 13.95Q27.15 12.35 24.3 12.35Q21.85 12.35 19.975 13.575Q18.1 14.8 17.25 16.95L19.9 17.95Q20.45 16.55 21.55 15.775Q22.65 15 24.15 15Q25.85 15 26.9 15.925Q27.95 16.85 27.95 18.3Q27.95 19.4 27.3 20.375Q26.65 21.35 25.4 22.4Q23.9 23.7 23.175 24.975Q22.45 26.25 22.45 28.35ZM24 44Q19.8 44 16.15 42.475Q12.5 40.95 9.8 38.25Q7.1 35.55 5.55 31.9Q4 28.25 4 24Q4 19.8 5.55 16.15Q7.1 12.5 9.8 9.8Q12.5 7.1 16.15 5.55Q19.8 4 24 4Q28.15 4 31.8 5.55Q35.45 7.1 38.15 9.8Q40.85 12.5 42.425 16.15Q44 19.8 44 24Q44 28.25 42.425 31.9Q40.85 35.55 38.15 38.25Q35.45 40.95 31.8 42.475Q28.15 44 24 44ZM24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45ZM24 41Q31.05 41 36.025 36Q41 31 41 24Q41 17 36.025 12Q31.05 7 24 7Q16.85 7 11.925 12Q7 17 7 24Q7 31 11.925 36Q16.85 41 24 41Z");
  transform: scale(.48, .48);
}


/* ----------------------------------------------------- 
------------------------------------------
------------- CONTEXT MENU ICONS----------------------------------
------------------------------------------
-------------------------------------------------------
*/

/* ID */
[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"] {
  d: path(
    "M14 13h5v-2h-5zm0-3h5V8h-5zm-9 6h8v-.55q0-1.125-1.1-1.787T9 13t-2.9.663T5 15.45zm4-4q.825 0 1.413-.587T11 10t-.587-1.412T9 8t-1.412.588T7 10t.588 1.413T9 12m-5 8q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm0-2h16V6H4zm0 0V6z"
  );
  transform: scale(1);
}

/* Copy link */
[d="M16.3 14.7a1 1 0 0 1 0-1.4l2.5-2.5a3.95 3.95 0 1 0-5.6-5.6l-2.5 2.5a1 1 0 1 1-1.4-1.4l2.5-2.5a5.95 5.95 0 1 1 8.4 8.4l-2.5 2.5a1 1 0 0 1-1.4 0ZM7.7 9.3a1 1 0 0 1 0 1.4l-2.5 2.5a3.95 3.95 0 0 0 5.6 5.6l2.5-2.5a1 1 0 1 1 1.4 1.4l-2.5 2.5a5.95 5.95 0 0 1-8.4-8.4l2.5-2.5a1 1 0 0 1 1.4 0Z"] {
  d: path(
    "M7 17q-2.075 0-3.537-1.463T2 12t1.463-3.537T7 7h3q.425 0 .713.288T11 8t-.288.713T10 9H7q-1.25 0-2.125.875T4 12t.875 2.125T7 15h3q.425 0 .713.288T11 16t-.288.713T10 17zm2-4q-.425 0-.712-.288T8 12t.288-.712T9 11h6q.425 0 .713.288T16 12t-.288.713T15 13zm5 4q-.425 0-.712-.288T13 16t.288-.712T14 15h3q1.25 0 2.125-.875T20 12t-.875-2.125T17 9h-3q-.425 0-.712-.288T13 8t.288-.712T14 7h3q2.075 0 3.538 1.463T22 12t-1.463 3.538T17 17z"
  );
  transform: scale(1);
}
[d="M14.7 10.7a1 1 0 1 0-1.4-1.4l-4 4a1 1 0 0 0 1.4 1.4l4-4Z"] {
  d: path(
    "M7 17q-2.075 0-3.537-1.463T2 12t1.463-3.537T7 7h3q.425 0 .713.288T11 8t-.288.713T10 9H7q-1.25 0-2.125.875T4 12t.875 2.125T7 15h3q.425 0 .713.288T11 16t-.288.713T10 17zm2-4q-.425 0-.712-.288T8 12t.288-.712T9 11h6q.425 0 .713.288T16 12t-.288.713T15 13zm5 4q-.425 0-.712-.288T13 16t.288-.712T14 15h3q1.25 0 2.125-.875T20 12t-.875-2.125T17 9h-3q-.425 0-.712-.288T13 8t.288-.712T14 7h3q2.075 0 3.538 1.463T22 12t-1.463 3.538T17 17z"
  );
  transform: scale(0, 0);
}

/* Mark Unread */
[d="M12.93 21.96c.25-.03.43-.23.47-.47a3 3 0 0 1 .08-.35.66.66 0 0 0-.24-.71A3 3 0 0 1 12 18v-3a3 3 0 0 1 4.35-2.68c.14.07.3.09.44.04a7 7 0 0 1 4.58.05c.3.1.63-.1.63-.41a10 10 0 1 0-18.45 5.36c.13.19.11.44-.04.61l-2.06 2.37A1 1 0 0 0 2.2 22H12c.32 0 .63-.01.93-.04Z"] {
  d: path(
    "M2 22V4q0-.825.588-1.412T4 2h10.1q-.1.5-.1 1t.1 1H4v13.125L5.15 16H20V7.9q.575-.125 1.075-.337T22 7v9q0 .825-.587 1.413T20 18H6zM4 4v12zm15 2q-1.25 0-2.125-.875T16 3t.875-2.125T19 0t2.125.875T22 3t-.875 2.125T19 6"
  );
  transform: scale(1);
}
[d="M18 17h-1.24a3 3 0 1 1 .26 4.25 1 1 0 1 0-1.33 1.5A4.98 4.98 0 0 0 24 19a5 5 0 0 0-8-4 1 1 0 0 0-2 0v3a1 1 0 0 0 1 1h3a1 1 0 1 0 0-2Z"] {
  d: path(
    "m28.89 20.91l-5-2.91l4.87-2.86a3.11 3.11 0 0 0 1.14-1.08a3 3 0 0 0-4.09-4.15L21 12.76V7a3 3 0 0 0-6 0v5.76l-4.85-2.85a3 3 0 1 0-3 5.18l5 2.91l-4.95 2.86a3.11 3.11 0 0 0-1.14 1.08a3 3 0 0 0 4.09 4.14L15 23.24v5.66a3 3 0 0 0 2 2.94A3 3 0 0 0 21 29v-5.76l4.85 2.85a3 3 0 1 0 3-5.18Z M11 15.5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2Z"
  );
  transform: scale(0, 0);
}

/* Edit Message */
[d="m13.96 5.46 4.58 4.58a1 1 0 0 0 1.42 0l1.38-1.38a2 2 0 0 0 0-2.82l-3.18-3.18a2 2 0 0 0-2.82 0l-1.38 1.38a1 1 0 0 0 0 1.42ZM2.11 20.16l.73-4.22a3 3 0 0 1 .83-1.61l7.87-7.87a1 1 0 0 1 1.42 0l4.58 4.58a1 1 0 0 1 0 1.42l-7.87 7.87a3 3 0 0 1-1.6.83l-4.23.73a1.5 1.5 0 0 1-1.73-1.73Z"] {
  d: path(
    "M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-2 2v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z"
  );
  transform: scale(1);
}



/* Add a Reaction */
[d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22ZM6.5 13a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm11 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm-9.8 1.17a1 1 0 0 1 1.39.27 3.5 3.5 0 0 0 5.82 0 1 1 0 0 1 1.66 1.12 5.5 5.5 0 0 1-9.14 0 1 1 0 0 1 .27-1.4Z"] {
  d: path(
    "M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16 M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m1.757-.437a.5.5 0 0 1 .68.194.93.93 0 0 0 .813.493c.339 0 .645-.19.813-.493a.5.5 0 1 1 .874.486A1.93 1.93 0 0 1 10.25 7.75c-.73 0-1.356-.412-1.687-1.007a.5.5 0 0 1 .194-.68"
  );
  transform: scale(1.4, 1.4);
}


/* Quick Mention */
[d="M12 2C6.486 2 2 6.486 2 12C2 17.515 6.486 22 12 22C14.039 22 15.993 21.398 17.652 20.259L16.521 18.611C15.195 19.519 13.633 20 12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12V12.782C20 14.17 19.402 15 18.4 15L18.398 15.018C18.338 15.005 18.273 15 18.209 15H18C17.437 15 16.6 14.182 16.6 13.631V12C16.6 9.464 14.537 7.4 12 7.4C9.463 7.4 7.4 9.463 7.4 12C7.4 14.537 9.463 16.6 12 16.6C13.234 16.6 14.35 16.106 15.177 15.313C15.826 16.269 16.93 17 18 17L18.002 16.981C18.064 16.994 18.129 17 18.195 17H18.4C20.552 17 22 15.306 22 12.782V12C22 6.486 17.514 2 12 2ZM12 14.599C10.566 14.599 9.4 13.433 9.4 11.999C9.4 10.565 10.566 9.399 12 9.399C13.434 9.399 14.6 10.565 14.6 11.999C14.6 13.433 13.434 14.599 12 14.599Z"] {
  d: path(
    "M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"
  );
  transform: scale(1.4, 1.4);
}



/* Copy Text */
[d="M3 16a1 1 0 0 1-1-1v-5a8 8 0 0 1 8-8h5a1 1 0 0 1 1 1v.5a.5.5 0 0 1-.5.5H10a6 6 0 0 0-6 6v5.5a.5.5 0 0 1-.5.5H3Z"] {
  d: path(
    "M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"
  );
  transform: scale(1.4, 1.4);
}
[d="M6 18a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4v-4h-3a5 5 0 0 1-5-5V6h-4a4 4 0 0 0-4 4v8Z"] {
  d: path(
    ""
  );
  transform: scale(0, 0);
}
[d="M21.73 12a3 3 0 0 0-.6-.88l-4.25-4.24a3 3 0 0 0-.88-.61V9a3 3 0 0 0 3 3h2.73Z"] {
  d: path(
    ""
  );
  transform: scale(0, 0);
}

/* Report Message */
[d="M3 1a1 1 0 0 1 1 1v.82l8.67-1.45A2 2 0 0 1 15 3.35v1.47l5.67-.95A2 2 0 0 1 23 5.85v7.3a2 2 0 0 1-1.67 1.98l-9 1.5a2 2 0 0 1-1.78-.6c-.2-.21-.08-.54.18-.68a5.01 5.01 0 0 0 1.94-1.94c.18-.32-.1-.66-.46-.6L4 14.18V21a1 1 0 1 1-2 0V2a1 1 0 0 1 1-1Z"] {
  d: path(
    "M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21 21 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21 21 0 0 0 14 7.655V1.222z"
  );
  transform: scale(1.4, 1.4);
}

/* Delete a Message */
[d="M14.25 1c.41 0 .75.34.75.75V3h5.25c.41 0 .75.34.75.75v.5c0 .41-.34.75-.75.75H3.75A.75.75 0 0 1 3 4.25v-.5c0-.41.34-.75.75-.75H9V1.75c0-.41.34-.75.75-.75h4.5Z"] {
  d: path(
    "M14 3a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2zM3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5c-1.954 0-3.69-.311-4.785-.793z"
  );
  transform: scale(1.4, 1.4);
}
[d="M5.06 7a1 1 0 0 0-1 1.06l.76 12.13a3 3 0 0 0 3 2.81h8.36a3 3 0 0 0 3-2.81l.75-12.13a1 1 0 0 0-1-1.06H5.07ZM11 12a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0v-6Zm3-1a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Z"] {
  d: path(
    "m19.61 18l4.86-4.86a1 1 0 0 0-1.41-1.41l-4.86 4.81l-4.89-4.89a1 1 0 0 0-1.41 1.41L16.78 18L12 22.72a1 1 0 1 0 1.41 1.41l4.77-4.77l4.74 4.74a1 1 0 0 0 1.41-1.41Z M18 34a16 16 0 1 1 16-16a16 16 0 0 1-16 16m0-30a14 14 0 1 0 14 14A14 14 0 0 0 18 4"
  );
  transform: scale(0, 0);
}

/* ----------------------------------------------------- 
------------------------------------------
------------- GUILDS MENU ICONS ----------------------------------
------------------------------------------
-------------------------------------------------------
*/

/* Cumpiss */
[d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"] {
  d: path(
    "M15.5 8.516a7.5 7.5 0 1 1-9.462-7.24A1 1 0 0 1 7 0h2a1 1 0 0 1 .962 1.276 7.503 7.503 0 0 1 5.538 7.24zm-3.61-3.905L6.94 7.439 4.11 12.39l4.95-2.828 2.828-4.95z"
  );
  transform: scale(1.4, 1.4);
  color: var(--accent);
}
[d="M23 12a11 11 0 1 1-22 0 11 11 0 0 1 22 0ZM7.74 9.3A2 2 0 0 1 9.3 7.75l7.22-1.45a1 1 0 0 1 1.18 1.18l-1.45 7.22a2 2 0 0 1-1.57 1.57l-7.22 1.45a1 1 0 0 1-1.18-1.18L7.74 9.3Z"] {
  d: path(
    "M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z "
  );
  transform: scale(0, 0);
}
.circleIconButton_db6521.selected_db6521 {
  background-color: var(--projectCabBackground2);
}

/* Add a server */
[d="M13 5a1 1 0 1 0-2 0v6H5a1 1 0 1 0 0 2h6v6a1 1 0 1 0 2 0v-6h6a1 1 0 1 0 0-2h-6V5Z"] {
  d: path(
    "M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
  );
  transform: scale(1.4, 1.4);
  fill: var(--accent);
}


/* ----------------------------------------------------- 
------------------------------------------
------------- CHAT TYPING PLACE THINGY ICONS ----------------------------------
------------------------------------------
-------------------------------------------------------
*/

/* Attach an Item */
[d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm0-17a1 1 0 0 1 1 1v4h4a1 1 0 1 1 0 2h-4v4a1 1 0 1 1-2 0v-4H7a1 1 0 1 1 0-2h4V7a1 1 0 0 1 1-1Z"] {
  d: path(
    "M19.167 37.417q-4.125 0-7.021-2.855-2.896-2.854-2.896-6.937V9.542q0-2.917 2.083-5.021 2.084-2.104 5.042-2.104 2.958 0 5.042 2.083Q23.5 6.583 23.5 9.583v13.834h-2.542V9.542q0-1.917-1.333-3.23Q18.292 5 16.375 5t-3.25 1.312q-1.333 1.313-1.333 3.23v18.125q0 3.041 2.166 5.125 2.167 2.083 5.209 2.083 1.333 0 2.479-.437 1.146-.438 2.062-1.23v2.917q-1 .625-2.146.958-1.145.334-2.395.334Zm7.333-2.25v-5h-5V26.5h5v-5h3.667v5h5v3.667h-5v5Zm-7.333-7.417v2.542q-1.834 0-3.084-1.313-1.25-1.312-1.25-3.187V9.5h2.542v16.375q0 .792.521 1.333.521.542 1.271.542Zm7.375-9.333V9.5h2.541v8.917Z"
  );
  transform: scale(.5, .5);
}
.attachButtonPlusGradient_f298d4, .attachButtonPlus_f298d4 {
  transform-origin: revert !important;
}
.attachButton_d0696b {
  margin: 0px 0px 0px -20px;
}

/* ----------------------------------------------------- 
------------------------------------------
------------- USER MENU BAR TOGGLE$ THINGY ICONS ----------------------------------
------------------------------------------
-------------------------------------------------------
*/

/* 


JESUS CHRIST. THIS WAS A PAIN IN THE ASS TO WRAP MY HEADAROUND. 

Is there probably a better way to do this? Maybe. I wouldn't know! I don't care! Want it fixed? Do it yourself!

*/

/* Microphone */
.panels_a4d4d9 .container_b2ca13 .flex_dc333f > button:nth-last-child(3)[aria-checked=true] path {
  d: path("M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4 4 0 0 0 12 8V7a.5.5 0 0 1 1 0zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a5 5 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4m3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3 M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607m-7.84-9.253 12 12 .708-.708-12-12z");
  transform: scale(1.5) !important;
}
.panels_a4d4d9 .container_b2ca13 .flex_dc333f > button:nth-last-child(3)[aria-checked=false] path {
  d: path("M24 26.85Q21.85 26.85 20.4 25.3Q18.95 23.75 18.95 21.55V9Q18.95 6.9 20.425 5.45Q21.9 4 24 4Q26.1 4 27.575 5.45Q29.05 6.9 29.05 9V21.55Q29.05 23.75 27.6 25.3Q26.15 26.85 24 26.85ZM24 15.45Q24 15.45 24 15.45Q24 15.45 24 15.45Q24 15.45 24 15.45Q24 15.45 24 15.45Q24 15.45 24 15.45Q24 15.45 24 15.45Q24 15.45 24 15.45Q24 15.45 24 15.45ZM22.5 42V35.2Q17.2 34.65 13.6 30.75Q10 26.85 10 21.55H13Q13 26.1 16.225 29.2Q19.45 32.3 24 32.3Q28.55 32.3 31.775 29.2Q35 26.1 35 21.55H38Q38 26.85 34.4 30.75Q30.8 34.65 25.5 35.2V42ZM24 23.85Q24.9 23.85 25.475 23.175Q26.05 22.5 26.05 21.55V9Q26.05 8.15 25.45 7.575Q24.85 7 24 7Q23.15 7 22.55 7.575Q21.95 8.15 21.95 9V21.55Q21.95 22.5 22.525 23.175Q23.1 23.85 24 23.85Z") !important;
  transform: scale(.60) !important;
}

/* Headphones */
.panels_a4d4d9 .container_b2ca13 .flex_dc333f > button:nth-last-child(2)[aria-checked=false] path {
  d: path("M16.4 42H9Q7.8 42 6.9 41.1Q6 40.2 6 39V24Q6 20.25 7.425 16.975Q8.85 13.7 11.275 11.275Q13.7 8.85 16.975 7.425Q20.25 6 24 6Q27.75 6 31.025 7.425Q34.3 8.85 36.725 11.275Q39.15 13.7 40.575 16.975Q42 20.25 42 24V39Q42 40.2 41.1 41.1Q40.2 42 39 42H31.6V27.2H39V24Q39 17.75 34.625 13.375Q30.25 9 24 9Q17.75 9 13.375 13.375Q9 17.75 9 24V27.2H16.4ZM13.4 30.2H9V39Q9 39 9 39Q9 39 9 39H13.4ZM34.6 30.2V39H39Q39 39 39 39Q39 39 39 39V30.2ZM34.6 30.2H39Q39 30.2 39 30.2Q39 30.2 39 30.2H34.6ZM13.4 30.2H9Q9 30.2 9 30.2Q9 30.2 9 30.2Z");
  transform: scale(.58) !important;
}
.panels_a4d4d9 .container_b2ca13 .flex_dc333f > button:nth-last-child(2)[aria-checked=true] path {
  d: path("M3.61 6.41L9.19 12H4a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h5.14l7.41 7.47A2 2 0 0 0 18 32a2 2 0 0 0 .76-.15A2 2 0 0 0 20 30v-7.23l5.89 5.89c-.25.15-.49.29-.75.42a1 1 0 0 0 .9 1.79a14.4 14.4 0 0 0 1.31-.75l2.28 2.28L31 31L5 5ZM18 30l-7.73-7.77a1 1 0 0 0-.71-.23H4v-8h5.64a1 1 0 0 0 .71-.3l.26-.26L18 20.81Z M24.89 6.69A12.42 12.42 0 0 1 29 26.1l1.42 1.42a14.42 14.42 0 0 0-4.66-22.64a1 1 0 1 0-.87 1.8Z M22.69 12.62A6.27 6.27 0 0 1 25.8 18a6.17 6.17 0 0 1-1.24 3.71L26 23.13A8.15 8.15 0 0 0 27.8 18a8.28 8.28 0 0 0-4.1-7.11a1 1 0 1 0-1 1.73Z M18 6v9.15l2 2V6a2 2 0 0 0-3.42-1.41L12 9.17l1.41 1.41Z");
  transform: scale(.7,.7) !important;
}

/* Settings */
.panels_a4d4d9 .container_b2ca13 .flex_dc333f > button:nth-last-child(1) path {
  d: path("M12 7.5C9.45 7.5 7.5 9.45 7.5 12C7.5 14.55 9.45 16.5 12 16.5C14.55 16.5 16.5 14.55 16.5 12C16.5 9.45 14.55 7.5 12 7.5ZM12 15C10.35 15 9 13.65 9 12C9 10.35 10.35 9 12 9C13.65 9 15 10.35 15 12C15 13.65 13.65 15 12 15ZM24 12C24 10.5 22.8 9.15 21.3 9C21.15 8.55 20.85 7.95 20.7 7.5C21.75 6.3 21.6 4.65 20.55 3.45C19.5 2.4 17.7 2.25 16.5 3.3C16.05 3 15.6 2.85 15 2.7C14.85 1.2 13.5 0 12 0C10.5 0 9.15 1.2 9 2.7C8.55 2.85 7.95 3.15 7.5 3.3C6.3 2.4 4.65 2.4 3.45 3.45C2.4 4.65 2.4 6.3 3.3 7.5C3.15 7.95 2.85 8.55 2.7 9C1.2 9.15 0 10.5 0 12C0 13.5 1.2 14.85 2.7 15C2.85 15.45 3.15 16.05 3.3 16.5C2.25 17.7 2.4 19.35 3.45 20.55C4.5 21.6 6.3 21.75 7.5 20.7C7.95 21 8.4 21.15 9 21.3C9.15 22.8 10.5 24 12 24C13.5 24 14.85 22.8 15 21.3C15.45 21.15 16.05 20.85 16.5 20.7C17.7 21.75 19.35 21.6 20.55 20.55C21.6 19.5 21.75 17.7 20.7 16.5C21 16.05 21.15 15.6 21.3 15C22.8 14.85 24 13.5 24 12ZM20.1 13.5C19.95 14.7 19.35 15.75 18.75 16.65L19.35 17.25C19.95 17.85 19.95 18.75 19.35 19.35C18.75 19.95 17.85 19.95 17.25 19.35L16.65 18.75C15.75 19.5 14.7 19.95 13.5 20.1V21C13.5 21.9 12.9 22.5 12 22.5C11.1 22.5 10.5 21.9 10.5 21V20.1C9.3 19.95 8.25 19.35 7.35 18.75L6.75 19.35C6.15 19.95 5.25 19.95 4.65 19.35C4.05 18.75 4.05 17.85 4.65 17.25L5.25 16.65C4.5 15.75 4.05 14.7 3.9 13.5H3C2.1 13.5 1.5 12.9 1.5 12C1.5 11.1 2.1 10.5 3 10.5H3.9C4.05 9.3 4.5 8.25 5.25 7.35L4.65 6.75C4.05 6.15 4.05 5.25 4.65 4.65C5.25 4.05 6.15 4.05 6.75 4.65L7.35 5.25C8.25 4.5 9.3 4.05 10.5 3.9V3C10.5 2.1 11.1 1.5 12 1.5C12.9 1.5 13.5 2.1 13.5 3V3.9C14.7 4.05 15.75 4.65 16.65 5.25L17.25 4.65C17.85 4.05 18.75 4.05 19.35 4.65C19.95 5.25 19.95 6.15 19.35 6.75L18.75 7.35C19.5 8.25 19.95 9.3 20.1 10.5H21C21.9 10.5 22.5 11.1 22.5 12C22.5 12.9 21.9 13.5 21 13.5H20.1Z");
}


.panels_a4d4d9 .container_b2ca13 .flex_dc333f > button .lottieIcon_f73ef7, .panels_a4d4d9 .container_b2ca13 .flex_dc333f > button .lottieIcon_f73ef7 svg, .panels_a4d4d9 .container_b2ca13 .flex_dc333f > button .lottieIcon_f73ef7 g, .panels_a4d4d9 .container_b2ca13 .flex_dc333f > button .lottieIcon_f73ef7 path {
  transform: none !important;
  translate: unset !important;
  fill-opacity: 1 !important;
  stroke: unset !important;
  content-visibility: unset !important;
  -webkit-mask: none !important;
}
.theme-dark .panels_a4d4d9 .button_adca65 svg {
  fill: var(--accent);
}



/* ----------------------------------------------------- 
------------------------------------------
------------- THAT AREA AROUND THE DMS ICONS ----------------------------------
------------------------------------------
-------------------------------------------------------
*/


/* Shop */
[d="M2.63 4.19A3 3 0 0 1 5.53 2H7a1 1 0 0 1 1 1v3.98a3.07 3.07 0 0 1-.3 1.35A2.97 2.97 0 0 1 4.98 10c-2 0-3.44-1.9-2.9-3.83l.55-1.98ZM10 2a1 1 0 0 0-1 1v4a3 3 0 0 0 3 3 3 3 0 0 0 3-2.97V3a1 1 0 0 0-1-1h-4ZM17 2a1 1 0 0 0-1 1v3.98a3.65 3.65 0 0 0 0 .05A2.95 2.95 0 0 0 19.02 10c2 0 3.44-1.9 2.9-3.83l-.55-1.98A3 3 0 0 0 18.47 2H17Z"] {
  d: path(
    "M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"
  );
  transform: scale(1.4, 1.4);
} 

[d="M21 11.42V19a3 3 0 0 1-3 3h-2.75a.25.25 0 0 1-.25-.25V16a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v5.75c0 .14-.11.25-.25.25H6a3 3 0 0 1-3-3v-7.58c0-.18.2-.3.37-.24a4.46 4.46 0 0 0 4.94-1.1c.1-.12.3-.12.4 0a4.49 4.49 0 0 0 6.58 0c.1-.12.3-.12.4 0a4.45 4.45 0 0 0 4.94 1.1c.17-.07.37.06.37.24Z"] {
  d: path(
    "M33.08 5.37a1 1 0 0 0-.77-.37H11.49l.65 2H31l-2.67 12h-15L8.76 4.53a1 1 0 0 0-.66-.65L4 2.62a1 1 0 1 0-.59 1.92L7 5.64l4.59 14.5l-1.64 1.34l-.13.13A2.66 2.66 0 0 0 9.74 25A2.75 2.75 0 0 0 12 26h16.69a1 1 0 0 0 0-2H11.84a.67.67 0 0 1-.56-1l2.41-2h15.44a1 1 0 0 0 1-.78l3.17-14a1 1 0 0 0-.22-.85"
  );
  transform: scale(0, 0);
} 

/* Nitro */
[d="M15 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"] {
  d: path(
    "M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"
  );
  transform: scale(1.4, 1.4);
} 

[d="M7 4a1 1 0 0 0 0 2h3a1 1 0 1 1 0 2H5.5a1 1 0 0 0 0 2H8a1 1 0 1 1 0 2H6a1 1 0 1 0 0 2h1.25A8 8 0 1 0 15 4H7Zm8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"] {
  d: path(
    "M31.3 16.66c-1.19-2.09-7.94-14.15-7.94-14.15a1 1 0 0 0-1.75 0l-6 10.64l-3-5.28a1 1 0 0 0-1.75 0S5.4 17.78 4.42 19.5A9.3 9.3 0 0 0 3 24.61C3 29.72 5.86 34 11.67 34h10.81C28.28 34 33 29 33 22.78a11.13 11.13 0 0 0-1.7-6.12M22.48 32H11.77C8.13 32 5 28.66 5 24.61a7.43 7.43 0 0 1 1.16-4.13c.73-1.29 4.05-7.21 5.65-10.07l3 5.28a1 1 0 0 0 .87.51a1 1 0 0 0 .87-.51L22.49 5c1.86 3.33 6.15 11 7.07 12.6A9.24 9.24 0 0 1 31 22.78c0 5.09-3.82 9.22-8.52 9.22 m25.75 21.73l-4.38-7.81a.8.8 0 0 0-1.4 0l-4.2 7.48l-1.59-2.49a.8.8 0 0 0-1.35 0l-3.46 5.44a4.35 4.35 0 0 0-.82 2.6a4.49 4.49 0 0 0 .5 2H11a3 3 0 0 1-.83-2a2.78 2.78 0 0 1 .56-1.73l2.8-4.38l1.66 2.6a.8.8 0 0 0 1.41-.12a7.82 7.82 0 0 1 .4-.8L20.67 16l3.69 6.57a4.83 4.83 0 0 1 .77 2.71A5 5 0 0 1 23.46 29h2.13a6.68 6.68 0 0 0 1.14-3.74a6.45 6.45 0 0 0-1-3.5Z M18 9H8a1 1 0 1 1 0-2h10a1 1 0 0 1 0 2 M25 12.08a1 1 0 0 1-1-1v-6a1 1 0 0 1 2 0v6a1 1 0 0 1-1 1"
  );
  transform: scale(0, 0);
} 

[d="M2.5 10a1 1 0 0 0 0-2H2a1 1 0 0 0 0 2h.5Z"] {
  d: path(
    "M33.08 5.37a1 1 0 0 0-.77-.37H11.49l.65 2H31l-2.67 12h-15L8.76 4.53a1 1 0 0 0-.66-.65L4 2.62a1 1 0 1 0-.59 1.92L7 5.64l4.59 14.5l-1.64 1.34l-.13.13A2.66 2.66 0 0 0 9.74 25A2.75 2.75 0 0 0 12 26h16.69a1 1 0 0 0 0-2H11.84a.67.67 0 0 1-.56-1l2.41-2h15.44a1 1 0 0 0 1-.78l3.17-14a1 1 0 0 0-.22-.85"
  );
  transform: scale(0, 0);
} 

/* Friends */
[d="M3 5v-.75C3 3.56 3.56 3 4.25 3s1.24.56 1.33 1.25C6.12 8.65 9.46 12 13 12h1a8 8 0 0 1 8 8 2 2 0 0 1-2 2 .21.21 0 0 1-.2-.15 7.65 7.65 0 0 0-1.32-2.3c-.15-.2-.42-.06-.39.17l.25 2c.02.15-.1.28-.25.28H9a2 2 0 0 1-2-2v-2.22c0-1.57-.67-3.05-1.53-4.37A15.85 15.85 0 0 1 3 5Z"] {
  d: path(
    "M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
  );
  transform: scale(1.4, 1.4);
} 

[d="M13 10a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"] {
  d: path(
    "M33.08 5.37a1 1 0 0 0-.77-.37H11.49l.65 2H31l-2.67 12h-15L8.76 4.53a1 1 0 0 0-.66-.65L4 2.62a1 1 0 1 0-.59 1.92L7 5.64l4.59 14.5l-1.64 1.34l-.13.13A2.66 2.66 0 0 0 9.74 25A2.75 2.75 0 0 0 12 26h16.69a1 1 0 0 0 0-2H11.84a.67.67 0 0 1-.56-1l2.41-2h15.44a1 1 0 0 0 1-.78l3.17-14a1 1 0 0 0-.22-.85"
  );
  transform: scale(0, 0);
} 

